[Unit]
Description=keyszer

[Service]
Type=simple
KillMode=process
ExecStart=/usr/bin/keyszer --config /etc/keyszer.conf
Restart=on-failure
RestartSec=3
Environment=DISPLAY=:0
User=keymapper
Group=input

[Install]
WantedBy=graphical.target
